<table class="table table-bordered">
  <thead>
    <tr>
      <th rowspan="2" class="text-right checkbox-th"><input (click)="onCheckAll()" [(ngModel)]="allSelected" type="checkbox"></th>
      <th rowspan="2" (click)="onSort('id')">
        {{'id' | translate}} <app-order-mark [column]="'id'" [orderBy]="orderBy"></app-order-mark>
      </th>
      <th rowspan="2" (click)="onSort('name')">
        {{'name' | translate}} <app-order-mark [column]="'name'" [orderBy]="orderBy"></app-order-mark>
      </th>
      <th rowspan="2" (click)="onSort('location')">
        {{'location' | translate}} <app-order-mark [column]="'location'" [orderBy]="orderBy"></app-order-mark>
      </th>
      <th rowspan="2" (click)="onSort('office')">
        {{'office' | translate}} <app-order-mark [column]="'office'" [orderBy]="orderBy"></app-order-mark>
      </th>
      <th colspan="2" class="text-center">{{'phone' | translate}}</th>
    </tr>
    <tr>
      <th (click)="onSort('officePhone')">
        {{'officePhone' | translate}} <app-order-mark [column]="'officePhone'" [orderBy]="orderBy"></app-order-mark>
      </th>
      <th (click)="onSort('cellPhone')">
        {{'cellPhone' | translate}} <app-order-mark [column]="'cellPhone'" [orderBy]="orderBy"></app-order-mark>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let staff of staffs">
      <td class="text-right">
        <input [(ngModel)]="staff.selected" type="checkbox">
      </td>
      <td>{{staff.id}}</td>
      <td>
        <app-editable
          [(value)]="staff.name"
          [touched]="staff.touched"
          (dblclick)="valueChange(staff)"
        >
        </app-editable>
      </td>
      <td>
        <app-editable
          [(value)]="staff.location"
          [touched]="staff.touched"
          (dblclick)="valueChange(staff)"
        >
        </app-editable>
      </td>
      <td>
        <app-editable
          [(value)]="staff.office"
          [touched]="staff.touched"
          (dblclick)="valueChange(staff)"
        >
        </app-editable>
      </td>
      <td>
        <app-editable
          [(value)]="staff.officePhone"
          [touched]="staff.touched"
          (dblclick)="valueChange(staff)"
        >
        </app-editable>
      </td>
      <td>
        <app-editable
          [(value)]="staff.cellPhone"
          [touched]="staff.touched"
          (dblclick)="valueChange(staff)"
        >
        </app-editable>
      </td>
    </tr>
  </tbody>
</table>


<div>
  <button class="btn btn-outline-danger" (click)="onDelete()" [disabled]="!canDelete()">
    {{'delete' | translate}}
  </button>

  <div class="float-right">
    <button class="btn btn-outline-primary" (click)="onAdd()" [disabled]="!canAdd()">
      {{'add' | translate}}
    </button>

    <button class="btn btn-outline-primary ml-2" (click)="onUpdate()">
      {{'update' | translate}}
    </button>
  </div>
</div>

<!--<pre>{{staffs | json}}</pre>-->
