<table class="table table-bordered">
  <thead>
    <tr>
      <th rowspan="2" class="text-right checkbox-th"><input (click)="onCheckAll()" [(ngModel)]="allSelected" type="checkbox"></th>
      <th rowspan="2" (click)="onSort('id')">
        ID <app-order-mark [column]="'id'" [orderBy]="orderBy"></app-order-mark>
      </th>
      <th rowspan="2" (click)="onSort('name')">
        Name <app-order-mark [column]="'name'" [orderBy]="orderBy"></app-order-mark>
      </th>
      <th rowspan="2" (click)="onSort('location')">
        Location <app-order-mark [column]="'location'" [orderBy]="orderBy"></app-order-mark>
      </th>
      <th rowspan="2" (click)="onSort('office')">
        Office <app-order-mark [column]="'office'" [orderBy]="orderBy"></app-order-mark>
      </th>
      <th colspan="2" class="text-center">Phone</th>
    </tr>
    <tr>
      <th (click)="onSort('officePhone')">
        Office Phone <app-order-mark [column]="'officePhone'" [orderBy]="orderBy"></app-order-mark>
      </th>
      <th (click)="onSort('cellPhone')">
        Cell Phone <app-order-mark [column]="'cellPhone'" [orderBy]="orderBy"></app-order-mark>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let staff of staffs">
      <td class="text-right">
        <input [(ngModel)]="staff.selected" type="checkbox">
      </td>
      <td>{{staff.id}}</td>
      <td>
        <app-editable
          [(value)]="staff.name"
          [touched]="staff.touched"
          (dblclick)="valueChange(staff)"
        >
        </app-editable>
      </td>
      <td>
        <app-editable
          [(value)]="staff.location"
          [touched]="staff.touched"
          (dblclick)="valueChange(staff)"
        >
        </app-editable>
      </td>
      <td>
        <app-editable
          [(value)]="staff.office"
          [touched]="staff.touched"
          (dblclick)="valueChange(staff)"
        >
        </app-editable>
      </td>
      <td>
        <app-editable
          [(value)]="staff.officePhone"
          [touched]="staff.touched"
          (dblclick)="valueChange(staff)"
        >
        </app-editable>
      </td>
      <td>
        <app-editable
          [(value)]="staff.cellPhone"
          [touched]="staff.touched"
          (dblclick)="valueChange(staff)"
        >
        </app-editable>
      </td>
    </tr>
  </tbody>
</table>


<div>
  <button class="btn btn-outline-danger" (click)="onDelete()" [disabled]="!canDelete()">Delete</button>

  <div class="float-right">
    <button class="btn btn-outline-primary" (click)="onAdd()" [disabled]="!canAdd()">Add</button>

    <button class="btn btn-outline-primary ml-2" (click)="onUpdate()">Update</button>
  </div>
</div>

<!--<pre>{{staffs | json}}</pre>-->
